[Unit]
Description=Omnisearch server
After=network-online.target

[Container]
ContainerName=omnisearch
Image=omnisearch.build
AutoUpdate=local

EnvironmentFile=omnisearch.env

Network=pasta
PublishPort=8087:8087/tcp

Volume=./data/omnisearch:/etc/omnisearch:Z,U
Volume=./cache/omnisearch:/var/cache/omnisearch:Z,U

[Service]
Restart=always

[Install]
WantedBy=default.target
